@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bree+Serif&display=swap");

.profile {
  width: 80%;
  margin: auto;
  margin-top: 8em;
  /* color: var(--primary); */

}

.profile-header {
  background: #fff;
  /* width: 100%; */
  display: flex;
  height: 190px;
margin-top: 8em;
  position: relative;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}

.profile-img {
  float: left;
  width: 330px;
  height: 200px;
}

.profile-img img {
  border-radius: 50%;
  height: 230px;
  width: 230px;
  border: 5px solid #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50px;
  top: 20px;
  z-index: 5;
  background: #fff;
}

.profile-nav-info {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  height: 60%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.profile-nav-info h3 {
  /* font-variant: small-caps; */
  font-size: 2.5rem;
  font-family: sans-serif;
  color: var(--primary);
  font-weight: bold;
}

.profile-nav-info .info {
  display: flex;
  font-weight: bold;
  align-items: center;
  font-size: 1.3em;
}

.profile-nav-info .info p {
  margin-right: 5px;
  margin-left: 5px;
}

.main-bd {
  width: 100%;
  display: flex;
  padding-right: 15px;
}

.profile-side {
  width: 300px;
  height: 38.6vh;
  /* background:var(--primary); */
  font-size: 25px;
  color: var(--primary);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 90px 30px 20px;
  font-family: sans-serif;
  margin-left: 10px;
  z-index: 1;
}

.profile-side p {
  margin-bottom: 7px;
  color: #333;
  font-size: 14px;
}

.profile-side p i {
  color: black;
  margin-right: 10px;
}

.mobile-no i {
  transform: rotateY(180deg);
  color: black;
}

.profile-btn {
  display: flex;
}

button.bookBtn {
  border: 0;
  padding: 10px;
  width: 200px;
  border-radius: 3px;
  background: var(--primary);
  color: #fff;
  font-family: sans-serif;
  border: 1px solid var(--primary);
  font-size: 1rem;
  margin: 5px 2px;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
  font-weight: bold;
  /* transition: background 0.3s ease-in-out; */
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3);
}

button.bookBtn:hover {
  background: transparent;
  color: var(--primary);
}

.user-rating {
  display: flex;
}

.user-rating h3 {
  font-size: 2.5rem;
  font-weight: 200;
  margin-right: 5px;
  letter-spacing: 1px;
  color: #666;
}

.user-rating .no-of-user-rate {
  font-size: 0.9rem;
}

.right-side {
  padding: 20px;
  font-weight: 100;
  text-align: center;
  width: 74%;
}

.profile-posts tr td {
  color: #666;
  margin: 10px;
}
.profile .info span {
  font-size: 1.5rem;
  color: var(--primary);
}

@media (max-width: 1100px) {
  .profile-side {
    width: 250px;
    /* padding: 90px 15px 20px; */
  }

  .profile-img img {
    height: 200px;
    width: 200px;
    left: 50px;
    top: 50px;
  }
  .right-side {
    padding: 0;

    text-align: center;
  }
  .profile-btn {
    display: block;
  }
  .right-side{
    width: auto;
  }
}

@media (max-width: 900px){
  .profile {
    margin: auto;
  }
  .profile-header {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
  }

  .profile-img {
    float: left;
    width: 100%;
    height: 200px;
  }

  .profile-img img {
    position: relative;
    height: 100px;
    width: 100px;
    left: 0px;
  }

  .profile-nav-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: flex-start;
}
   
  

  .profile-option {
    right: 20px;
    top: 75%;
    transform: translateY(50%);
  }

  .main-bd {
    flex-direction: column;
    padding-right: 0;
  }

  .profile-side {
    width: 95%;
    text-align: center;
  padding: 0;
  margin: auto;
  font-size: 20px;
  }

  .profile .info span {

    font-size: 1em;
  }

  .user-rating {
    justify-content: center;
  }
  .right-side {
    padding: 0;
width: auto;
    text-align: center;
  }
  .profile-btn {
    display: block;
  }
}

@media (max-width: 400px) {
  .profile-option {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 83%;
  }
  .profile-nav-info .info {
    display: flex;
    font-weight: bold;
  
    font-size: 1em;
  }
  .profile-option .notification .alert-message {
    top: -3px;
    right: -4px;
    padding: 4px;
    height: 15px;
    width: 15px;
    font-size: 0.7rem;
  }
  .profile-nav-info {
    display: flex;

    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: flex-start;
  }
  .profile-nav-info h3 {
    font-size: 1.9rem;
  }

  .profile-nav-info .info p,
  .profile-nav-info .info span {
    font-size: 0.7rem;
  }
  .profile-side {
    height: auto;
  }
  button.bookBtn {
    width: 150px;
  }
  .right-side {
    padding: 0;
width: auto;
    text-align: center;
  }
  .profile-btn {
    display: block;
  }
}
