.global-container {
  display: flex;
  flex-direction: column;
  padding: 0 12px;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  justify-content: center;
  max-width: 475px;

  min-height: 100vh;
  color: var(--primary);

}
/* .background{
  background-color: var(--primary);
}
.principal{
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 14px;
} */

header.principal > h1 {
  font-size: var(--text-l);
  font-weight: 600;
  margin: 32px 0 21px 0;
}

.cart-preview {
  background-color: #f2f2f2;
  border-radius: 12px;
  padding: calc(var(--one-em) * 2);
  margin-bottom: 40px;
}

.cart-preview > .cart-item {
  display: flex;
  justify-content: space-around;
}

.cart-preview > .cart-item:not(:first-child) {
  margin-top: 30px;
}

.cart-preview > .cart-item > img {
  border-radius: 13px;
  width: 120px;
  height: 120px;
  margin-right: 20px;
}

.cart-preview > .cart-item > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-preview > .cart-item .name {
  font-size: var(--text-s);
  font-weight: 600;
  line-height: 15px;
  margin-bottom: 6px;
}

.cart-preview > .cart-item .price > span {
  font-size: var(--text-xs);
  font-weight: 600;
  line-height: 12px;
  text-decoration: line-through;
}

.cart-preview > .cart-item .price > .discounted {
  font-size: var(--text-s);
  font-weight: 600;
  line-height: 17px;
  margin-right: 15px;
  text-decoration: none;
  color: var(--primary);
}

.cart-preview > .cart-item .qty-selector {
  border: 1px solid #828282;
  border-radius: 12px;
  padding: 15px 10px;
  width: 120px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-preview > .cart-item .qty-selector > .material-icons {
  background-color: #e0e0e0;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
}

.cart-preview > .shipping,
.cart-preview > .total {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  border-top: 1px solid #bdbdbd;
  color: #333;
}

.cart-preview > .shipping > span:first-child,
.cart-preview > .total > span:first-child {
  font-size: var(--text-m);
}

.cart-preview > .shipping {
  margin-top: 90px;
  padding: 10px 0;
}

.cart-preview > .total {
  padding: 15px 0 0 0;
}

.cart-preview {
  max-width: 475px;
  min-width: 400px;
}

#checkout-form {
  display: flex;
  flex-direction: column;
  max-width: 475px;
}

.global-container form > section:first-child {
  margin-bottom: 50px;
}

.global-container form > section > h3 {
  font-size: var(--text-m);
  font-weight: 600;
  color: var(--primary);
}

.global-container form .form-group:not(:last-child) {
  margin-bottom: 12px;
}

.global-container form .form-groups {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 25px;
}

.global-container form .form-group > label {
  font-size: var(--text-xs);
  color: var(--primary);

  font-weight: 600;
}

.global-container form .form-group > div {
  position: relative;
  margin-top: 7px;
}

.global-container form .form-group .material-icons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  font-size: var(--text-m);
  color: var(--primary);
}

.global-container form .form-group input,
form .form-group select {
  width: 100%;
  padding: 12px 10px 12px 42px;
  outline: none;

  font-size: var(--text-s);
}

option:disbled {
  color: #828282;
}

.global-container form .form-group,
form .form-groups {
  max-width: 475px;
}

.global-container form .form-group.checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
}

#save-info {
  width: auto;
}

#save-info ~ label {
  text-align: center;
}

.global-container form > button {
  background-color: var(--primary);
  outline: none;
  border: 1px solid var(--primary);
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  padding: 17px 45px;
  float: right;
  transition: all 0.3s ease;
  cursor: pointer;
  align-self: center;
}

.global-container form > button:hover {
  background: transparent;
  color: var(--primary);
}
.no-order{
  margin-top: 8.5em;
}

@media only screen and (min-width: 768px) {
  .global-container {
    max-width: 1500px;
    padding: 0 25px;
  }

  .cart-preview {
    float: right;
    margin-left: 90px;
  }
}

@media only screen and (min-width: 900px) {
  :root {
    --text-s: 16px;
    --text-m: 18px;
    --text-l: 36px;
    --one-em: 22px;
  }
}
.notUser h1,
.notUser h3,
.no-order h1,
.no-order h2 {
  color: var(--primary);
  font-family: sans-serif;
  text-align: center;
}
.notUser .container,
.no-order .container {
  background: var(--primary);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  height: 50vh;
  border-radius: 5px;
}
.warning {
  display: flex;
  align-items: center;
}
.global-container form .form-group input,
form .form-group select {
  width: 85%;
}
.global-container {
  margin-top: 5em;
}
@media (max-width: 600px) {
  .cart-preview {
    min-width: 90%;
    padding: 0 20px;
  }
}